app/code/community/Rapidmail/RMConnect/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/"
                    schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>
            <complexType name="newsletterSubscriberEntity">
                <all>
                    <element name="subscriber_id" type="xsd:int" minOccurs="0"/>
                    <element name="store_id" type="xsd:int" minOccurs="0"/>
                    <element name="change_status_at" type="xsd:string" minOccurs="0"/>
                    <element name="customer_id" type="xsd:int" minOccurs="0"/>
                    <element name="subscriber_email" type="xsd:string" minOccurs="0"/>
                    <element name="subscriber_status" type="xsd:int" minOccurs="0"/>
                </all>
            </complexType>
            <complexType name="ArrayOfNewsletterSubscriberEntity">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:newsletterSubscriberEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>

            <complexType name="catalogProductExtEntity">
                <all>
                    <element name="product_id" type="xsd:string" minOccurs="0"/>
                    <element name="sku" type="xsd:string" minOccurs="0"/>
                    <element name="name" type="xsd:string" minOccurs="0"/>
                    <element name="image" type="xsd:string" minOccurs="0"/>
                    <element name="url_path" type="xsd:string" minOccurs="0"/>
                    <element name="price" type="xsd:double" minOccurs="0"/>
                    <element name="special_price" type="xsd:double" minOccurs="0"/>
                    <element name="special_from_date" type="xsd:string" minOccurs="0"/>
                    <element name="special_to_date" type="xsd:string" minOccurs="0"/>
                    <element name="description" type="xsd:string" minOccurs="0"/>
                    <element name="short_description" type="xsd:string" minOccurs="0"/>
                    <element name="created_at" type="xsd:string" minOccurs="0"/>
                    <element name="updated_at" type="xsd:string" minOccurs="0"/>
                </all>
            </complexType>
            <complexType name="ArrayOfCatalogProductExtEntity">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:catalogProductExtEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>

            <complexType name="shopVersionEntity">
                <all>
                    <element name="shop_version" type="xsd:string" minOccurs="0"/>
                    <element name="shop_edition" type="xsd:string" minOccurs="0"/>
                    <element name="extension_version" type="xsd:string" minOccurs="0"/>
                </all>
            </complexType>
            <complexType name="ArrayOfShopVersionEntity">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:shopVersionEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>

        </schema>
    </types>

    <message name="rmconnectNewsletterSubscriberListRequest">
        <part name="sessionId" type="xsd:string"/>
    </message>
    <message name="rmconnectNewsletterSubscriberListResponse">
        <part name="result" type="typens:ArrayOfNewsletterSubscriberEntity"/>
    </message>

    <message name="rmconnectNewsletterSubscriberUpdateStatusRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="email" type="xsd:string"/>
        <part name="status" type="xsd:int"/>
    </message>
    <message name="rmconnectNewsletterSubscriberUpdateStatusResponse">
        <part name="result" type="xsd:int"/>
    </message>

    <message name="rmconnectCatalogProductListRequest">
        <part name="sessionId" type="xsd:string"/>
    </message>
    <message name="rmconnectCatalogProductListResponse">
        <part name="result" type="typens:ArrayOfCatalogProductExtEntity"/>
    </message>

    <message name="rmconnectVersionShopVersionRequest">
        <part name="sessionId" type="xsd:string"/>
    </message>
    <message name="rmconnectVersionShopVersionResponse">
        <part name="result" type="typens:ArrayOfShopVersionEntity"/>
    </message>

    <portType name="{{var wsdl.handler}}PortType">
        <operation name="rmconnectNewsletterSubscriberList">
            <documentation>Returns newsletter subscribers</documentation>
            <input message="typens:rmconnectNewsletterSubscriberListRequest"/>
            <output message="typens:rmconnectNewsletterSubscriberListResponse"/>
        </operation>
    </portType>
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="rmconnectNewsletterSubscriberList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>

    <portType name="{{var wsdl.handler}}PortType">
        <operation name="rmconnectNewsletterSubscriberUpdateStatus">
            <documentation>Update newsletter subscriber</documentation>
            <input message="typens:rmconnectNewsletterSubscriberUpdateStatusRequest"/>
            <output message="typens:rmconnectNewsletterSubscriberUpdateStatusResponse"/>
        </operation>
    </portType>
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="rmconnectNewsletterSubscriberUpdateStatus">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>

    <portType name="{{var wsdl.handler}}PortType">
        <operation name="rmconnectCatalogProductList">
            <documentation>Returns catalog products</documentation>
            <input message="typens:rmconnectCatalogProductListRequest"/>
            <output message="typens:rmconnectCatalogProductListResponse"/>
        </operation>
    </portType>
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="rmconnectCatalogProductList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>

    <portType name="{{var wsdl.handler}}PortType">
        <operation name="rmconnectVersionShopVersion">
            <documentation>Returns shop version informations</documentation>
            <input message="typens:rmconnectVersionShopVersionRequest"/>
            <output message="typens:rmconnectVersionShopVersionResponse"/>
        </operation>
    </portType>
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="rmconnectVersionShopVersion">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>

    <service name="{{var wsdl.name}}Service">
        <port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}"/>
        </port>
    </service>
</definitions>
